:root {
  --column-width: 25ch;
}

.about-wrapper {
  margin-top: 0;
  padding-top: 0;
}

.about-page-header {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.about-header-image {
  width: 100vw;
  height: auto;
  margin-top: 0;
  object-fit: fill;
  /* z-index: -1; */
}

.about-header__heading {
  max-width: 40vw;
  font-size: 3vw;
	color: white;
  background-color: var(--hcc-blue);
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 25%;
	left: 25%;
	right: 25%;
  align-self: center;
  padding: 1rem;
}

.about-vision-mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-vision-mission__container {
  padding: 0;
  background-color: var(--hcc-menu-background);
  align-self: flex-start;
}

.about-vision-mission__image {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  object-fit: fill;
}

.about-vision-mission__texts {
  margin-top: 0;
  padding: var(--responsive-space);
  padding-top: 0;
  color: white;
}

.about-vision-mission__para {
  font-size: 0.8rem;
  line-height: 1.8;
  text-align: justify;
}

.about-vision-mission__title {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.about-core-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-core-values__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  margin-left: 1.5rem;
}

.about-core-values__list {
  text-align: center;
  line-height: 1.5;
}

.about-core-values__list-item::before {
  content: "\2714";
  margin-right: 0.5rem;
  font-size: 0.75rem;
}

.about-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-history__image {
  width: 100vw;
  height: auto;
  margin-top: 0;
  object-fit: fill;
}

.about-history__text-container {
  margin: 1rem;
  padding: 1rem;
  line-height: 1.5;
}

.about-history__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}

.about-history__para {
  font-size: 0.9rem;
}


/*               */
/* Media queries */
/*               */

@media screen and (min-width: 768px) {
  .about-history__para {
    font-size: 0.8rem;
  }
}
