@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Regular.eot");
	src: local("Montserrat"),
		url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-display: optional;
}

:root {
  --hcc-blue: #2a3e77;
  --hcc-blue: hsl(224, 48%, 32%);
  --hcc-maroon: #961335;
  --hcc-maroon: hsl(344, 78%, 33%);
  --hcc-menu-colour: #a3a3a3;
  --hcc-menu-colour: hsl(0, 0%, 64%);
  --hcc-menu-background: #383838;
  --hcc-menu-background: hsl(0, 0%, 22%);
  --hcc-background-colour: #F3F2F1;
	--hcc-background-colour: hsl(30, 8%, 95%);

  --font-stack-body: Montserrat, -apple-system, BlinkMacSystemFont, ̈́"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, SFProDisplay-Regular, Inter, "Fira Sans", "Open Sans", "Droid Sans", "Nimbus Sans", "DejaVu Sans", "Helvetica Neue", Arial, Helvetica, Poppins, Verdana, Tahoma, Arimo, sans-serif;

  --custom-font-size-6: calc(1rem + (32 - 16) * ((100vw - 320px) / (2560 - 320)));

  /* General ratios */
	--golden-ratio: 1.618;
	--perfect-fifth: 1.500;
	--augmented-fourth: 1.414;
	--perfect-fourth: 1.333;
	--major-third: 1.250;
	--minor-third: 1.200;
	--major-second: 1.125;
	--minor-second: 1.067;

	--font-scale-ratio: var(/**/); /* input one of the above */
	/* >>> Modular scale: https://every-layout.dev/rudiments/modular-scale/ */
	--fs-5: calc(var(--fs-4) / var(--font-scale-ratio));
	--fs-4: calc(var(--fs-3) / var(--font-scale-ratio));
	--fs-3: calc(var(--fs-2) / var(--font-scale-ratio));
	--fs-2: calc(var(--fs-1) / var(--font-scale-ratio));
	--fs-1: calc(var(--fs0) / var(--font-scale-ratio));
	--fs0: var(--custom-font-size-6);
	--fs1: calc(var(--fs0) * var(--font-scale-ratio));
	--fs2: calc(var(--fs1) * var(--font-scale-ratio));
	--fs3: calc(var(--fs2) * var(--font-scale-ratio));
	--fs4: calc(var(--fs3) * var(--font-scale-ratio));
	--fs5: calc(var(--fs4) * var(--font-scale-ratio));

  /* https://matthewjamestaylor.com/responsive-padding */
	--responsive-space--ex-large: calc(12px + 1.5625vw);
  --responsive-space--large: calc(12px + 1.5625vw);
  --responsive-space: calc(8px + 1.5625vw);
	--responsive-space--medium: calc(6px + 1.5625vw);
	--responsive-space--small: calc(4px + 1.5625vw);
	--responsive-space--ex-small: calc(2px + 1.5625vw);
	--responsive-space--tiny: calc(0.1px + 0.5625vw);

  --border-radius--ex-small: 0.25rem;
  --border-radius--small: 0.5rem;
  --border-radius: 1rem;
  --border-radius--large: 1.5rem;
  --border-radius--ex-large: 3rem;
  --border-radius--circle: 50%;

	/* Column size */
	--grid-min: 20ch;
	--flex-min: 35rem;
	--pancake-min: var(--grid-min);
	--max-number-of-column: 4;
	--breakpoint-size: 480;
	--column-width: 30ch;

	--flexbox-albatross-margin: 1rem;
	--flexbox-albatross-container-size: 40rem;
	--flexbox-albatross-modifier: calc(var(--flexbox-albatross-container-size) - 100%);
}


/* -------------------------------------- */
/*              RESETS                    */
/* -------------------------------------- */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
	-o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

*::before,
*::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

* + * {
  margin-top: 0.5rem;
}

html {
  font-size: var(--custom-font-size-6);
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html, body {
	min-height: 100%;
	font-family: inherit;
}

body {
  min-height: 100vh;
	font-family: var(--font-stack-body);
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	max-width: 65ch;
}

/* HTML5 blocks - needed in older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	list-style-position: unset;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	list-style-position: unset;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
	display: inline-block;
	background-color: transparent;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

audio, img, picture, video, iframe, canvas, object, embed, svg  {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
	/* vertical-align: middle; */
}

img {
	width: auto\9;
	width: inherit; /* This makes auto-resizing with max-width 100% and height auto work in IE8 */
	max-height: 100%;
}

audio:not([controls]) {
	display: none;
}

svg {
	fill: currentColor;
	overflow: hidden;
}

button, input, optgroup, select, textarea {
	font: inherit;
	font-size: 100%;
	vertical-align: middle;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
}

input[type="button"] {
	cursor: pointer;
}

input[type="text"],
input[type="number"],
select,
textarea {
	font-size: 16px;
}

button {
	border: none;
	border-radius: 0.8rem;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

button[disabled] {
	background-color: inherit;
	background-color: var(--dual-theme-grey);
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

p, li, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
}

sup, sub {
	line-height: 0;
}

table {
	border-color: inherit;
	border-collapse: collapse;
	text-indent: 0;
}

textarea {
	resize: vertical;
}

textarea:not([rows]) {
	min-height: 10rem;
}

details summary {
	cursor: pointer;
}

hr {
	color: inherit;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

:target {
	scroll-margin-block: 5ex;
}

/* For frameworks */
#root,
#__next {
	isolation: isolate;
}

/*-- End of Resets --*/


/* ------------------ */
/*       CLASSES      */
/* ------------------ */

.body {
  display: flex;
  flex-direction: column;
	background-color: black;
}

.wrapper {
	background-color: var(--hcc-background-colour);
	margin: auto;
}

.flexbox-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.flexbox-grid > * {
	flex: 1 1 var(--column-width);
}

.flexbox-grid > * + * {
	margin: 0.5rem;
}

.break-row {
  flex-basis: 100%;
  height: 0;
}

.header__nav {
	background-color: var(--hcc-menu-background);
}

/* Navigation */
/* [ON SMALL SCREENS] */
/* (A) BREAK INTO VERTICAL MENU */
.nav__item,
.ministries__item,
.events__item,
.campuses__item {
	display: block;
	width: 100%;
}

.nav__item {
	margin: 0;
}

.nav__link {
	min-width: 6.5rem;
	min-height: 44px;
	min-height: 2.5ch;
	max-width: 75%;
	margin: 0;
	padding: 0.25rem;
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
	border-radius: var(--border-radius);
}

.nav__link:link {
	background-color: var(--hcc-background-colour);
}

.nav__link:hover {
	background-color: var(--hcc-maroon);
	color: white;
}

.level-2-nav__link {
	position: relative;
}

.ministries,
.events,
.campuses {
	width: 100%;
	width: max-content;
	padding: 0.5rem;
	background-color: var(--hcc-menu-colour);
	display: none;
}

.ministries__item,
.events__item,
.campuses__item {
	width: 100%;
	display: block;
}

.ministries__link,
.events__link,
.campuses__link {
	padding: 0.25rem;
	font-size: 0.8rem;
}

.ministries__link:hover,
.events__link:hover,
.campuses__link:hover {
	background-color: var(--hcc-maroon);
	color: white;
	font-size: 1rem;
}

.level-2-nav__item:hover .ministries,
.level-2-nav__item:hover .events,
.level-2-nav__item:hover .campuses {
	display: block;
}

.level-2-nav__link::after {
	content: "\27A4";
	text-decoration: none;
	margin-left: 0.05rem;
	transition: transform 0.3s ease-in-out;
	position: absolute;
}

.level-2-nav__link:hover::after {
	transform: rotate(90deg);
}

/* (B) SHOW HAMBURGER ICON */
.nav__toggle-label {
	display: inline-block;
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	color: white;
	background-color: #a02620;
	font-style: normal;
	font-size: 1.2rem;
	padding: 0.8rem;
	cursor: pointer;
}

.nav__toggle-input {
	position: absolute;
	top: -100%;
	left: -100%
}


/* (C) TOGGLE SHOW/HIDE MENU */
.nav__group {
	display: none;
}

.nav__toggle-input:checked ~ .nav__group {
	display: block;
	margin-top: 3rem;
}

.vision-mission-wrapper__image {
	min-width: 30vw;
	margin-left: var(--responsive-space--small);
}

.vision-mission__image {
	min-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.vision-mission__heading {
	background-color: var(--hcc-blue);
	color: white;
	padding: 0.5rem 0.75rem;
	text-align: center;
	margin-top: 0;
	word-wrap: normal;
}

.vision-mission-alone {
	background-color: var(--hcc-maroon);
	padding: 0.5rem 0.75rem;
	word-wrap: normal;
}

.vision-mission-alone__heading {
	background-color: var(--hcc-maroon);
	color: white;
	padding: 0.5rem 0.75rem;
	text-align: center;
}

.sunday-service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sunday-service__heading {
	background-color: var(--hcc-blue);
	color: white;
	padding: 0.5rem 0.75rem;
	text-align: center;
	word-wrap: normal;
}

.sunday-service__cards-wrapper {
	--layout-min: 15rem;

	display: flex;
	flex-wrap: wrap;
	margin: 1rem -0.5rem;
}

.sunday-service__cards-wrapper > * {
	flex: 1 1 var(--layout-min);
	margin: 0.5rem;
}

.sunday-service__card--1,
.sunday-service__card--2,
.sunday-service__card--3,
.sunday-service__card--4,
.sunday-service__card--5,
.sunday-service__card--6 {
	padding: var(--responsive-space--medium);
	font-size: 0.8rem;
	color: white;
	text-align: center;
}

.sunday-service__card--1 {
	background-image: url('../image/default-main/0003-background-pix-alpha-cathedral-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__card--2 {
	background-image: url('../image/default-main/0004-background-pix-life-centre-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__card--3 {
	background-image: url('../image/default-main/0005-background-pix-metro-church-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__card--4 {
	background-image: url('../image/default-main/0006-background-pix-novus-centre-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__card--5 {
	background-image: url('../image/default-main/0007-background-pix-cedars-house-of-grace-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__card--6 {
	background-image: url('../image/default-main/0004-background-pix-grace-arena-160w.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sunday-service__title,
.sunday-service__intro {
	text-transform: uppercase;
	font-weight: 500;
}

.sunday-service__intro {
	font-size: 0.8rem;
}

.sunday-service__text {
	font-weight: 300;
}

.sermon-videos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sermon-videos__heading {
	background-color: var(--hcc-blue);
	color: white;
	padding: 0.5rem 0.75rem;
	text-align: center;
	text-transform: capitalize;
	word-wrap: normal;
}

.sermon-videos__container {
	max-width: 70vw;
}



.featured-events {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .featured-events__image-container {} */

.featured-events__image-container {
	--layout-min: 15rem;

	display: flex;
	flex-wrap: wrap;
	margin: 1rem -0.5rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

.featured-events__image-container > * {
	flex: 1 1 var(--layout-min);
	margin: 0;
}

.featured-events__image {
	margin: 0;
	padding: 0;
	object-fit: cover;
}

/* 
.featured-events__image--1 {
	background-size: cover;
}

.featured-events__image--2 {
	background-size: cover;
}

.featured-events__image--3 {
	background-size: cover;
}
.featured-events__image--4 {
	background-size: cover;
}
.featured-events__image--5 {
	background-size: cover;
}
.featured-events__image--6 {
	background-size: cover;
}
 */


.address-posts-links {
	--layout-min: 18rem;

	display: flex;
	flex-wrap: wrap;
	/* margin: 2rem -2rem; */
	background-color: var(--hcc-menu-background);
	color: white;
	margin-top: 0;
}

.address-posts-links > * {
	flex: 1 1 var(--layout-min);
	margin: 2rem;
}

.apl__title {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
}

.apl__icon {
	margin-right: 0.25rem;
	color: white;
}

.apl__icon--location {
	display: inline-block;
	transform: rotate(-45deg);
}

.apl__text--location2 {
	margin-left: 1.20rem;
	margin-top: 0;
}

.campuses--bottom,
.useful-links {
	list-style: none;
	color: white;
	padding-left: 0;
}

.campuses__item--bottom,
.useful-links__item {
	list-style: none;
	color: white;
}

.campuses__link--bottom,
.useful-links__link {
	color: white;
	text-decoration-color: var(--hcc-menu-background);
}

.campuses__link--bottom:focus,
.campuses__link--bottom:hover {
	padding: 0.1rem 0.5rem;
	background-color: var(--hcc-background-colour);
	color: var(--hcc-menu-background);
	text-decoration-color: white;
}

.useful-links__item::before {
	content: "\1F517";
	margin-right: 0.5rem;
}

.useful-links__link:focus,
.useful-links__link:hover {
	font-weight: bold;
	background-color: var(--hcc-background-colour);
	color: var(--hcc-menu-background);
	text-decoration-color: white;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--hcc-menu-background);
	color: white;
	margin-top: 0.1rem;
}

.footer__item {
	font-size: 0.8rem;
	text-align: center;
}



/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */

@media screen and (min-width: 768px) {
	/* (A) MENU WRAPPER */
  .header__nav {
    width: 100%;
  }

	/* (B) HORIZONTAL MENU ITEMS */
	.nav__group {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0.15rem;
		padding-right: 0.15rem;
	}

	.nav__item {
		flex-grow: 1;
		flex-basis: 0;
		padding: 0.5rem;
		color: white;
		text-decoration: none;
	}

	/* (C) HIDE HAMBURGER */
	.nav__toggle-label,
	.nav__toggle-input {
		display: none;
	}
}

@media screen and (min-width: 1028px) {
	.sunday-service__card--2 {
		height: 80%;
		align-self: flex-end;
	}

	.sunday-service__card--5 {
		min-height: 120%;
	}
}

